<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-smart-adserver"
	version="1.0.3">

    <name>Smart Ad Server</name>
	<description>Cordova/PhoneGap Plugin for Smart Ad Server</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>rjfun,ad,smart</keywords>
    <repo>https://github.com/floatinghotpot/cordova-smart-adserver.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-smart-adserver/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/SmartAdServer.js" name="SmartAdServer">
        <clobbers target="window.plugins.SmartAdServer" />
    </js-module>

	<dependency id="cordova-plugin-extension" />

    <!-- android -->
    <platform name="android">
        <framework src="com.google.android.gms:play-services-ads:+" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			    android:name="com.google.android.gms.ads.AdActivity"
			    android:theme="@android:style/Theme.Translucent" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
          </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmartAdServer">
                <param name="android-package" value="com.rjfun.cordova.smartadserver.SmartAdServerPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/SmartAdServerPlugin.java" target-dir="src/com/rjfun/cordova/smartadserver" />
        <framework src="src/android/smartadserver.gradle" custom="true" type="gradleReference" />
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="SmartAdServer">
            <param name="ios-package" value="SmartAdServerPlugin" />
        </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleAllowMixedLocalizations">
            <true/>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>youtube</string>
            </array>
        </config-file>

        <header-file src="src/ios/SmartAdServerPlugin.h"/>
        <source-file src="src/ios/SmartAdServerPlugin.m"/>

        <header-file src="src/ios/headers/SASAd.h"/>
        <header-file src="src/ios/headers/SASAdChoicesView.h"/>
        <header-file src="src/ios/headers/SASAdView.h"/>
        <header-file src="src/ios/headers/SASAdViewContainerCell.h"/>
        <header-file src="src/ios/headers/SASAdViewDelegate.h"/>
        <header-file src="src/ios/headers/SASBannerView.h"/>
        <header-file src="src/ios/headers/SASBidderAdapter.h"/>
        <header-file src="src/ios/headers/SASBidderAdapterProtocol.h"/>
        <header-file src="src/ios/headers/SASInterstitialView.h"/>
        <header-file src="src/ios/headers/SASMediationAd.h"/>
        <header-file src="src/ios/headers/SASNativeAd.h"/>
        <header-file src="src/ios/headers/SASNativeAdDelegate.h"/>
        <header-file src="src/ios/headers/SASNativeAdImage.h"/>
        <header-file src="src/ios/headers/SASNativeAdManager.h"/>
        <header-file src="src/ios/headers/SASNativeAdMediaView.h"/>
        <header-file src="src/ios/headers/SASNativeAdMediaViewDelegate.h"/>
        <header-file src="src/ios/headers/SASNativeAdPlacement.h"/>
        <header-file src="src/ios/headers/SASReward.h"/>
        <header-file src="src/ios/headers/SASRewardedVideo.h"/>
        <header-file src="src/ios/headers/SASRewardedVideoDelegate.h"/>
        <header-file src="src/ios/headers/SASRewardedVideoPlacement.h"/>
        <header-file src="src/ios/headers/SASVideoEvent.h"/>

        <source-file src="src/ios/libSmartAdServer.a" framework="true"/>
        <resource-file src="src/ios/sas.bundle"/>

        <framework src="Accelerate.framework" />
        <framework src="AdSupport.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreMotion.framework" />
        <framework src="Foundation.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="SafariServices.framework" weak="true" />
        <framework src="SceneKit.framework" weak="true" />
        <framework src="SpriteKit.framework" weak="true" />
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="WebKit.framework"/>
    </platform>
</plugin>
